HELP.md
workspaceEmpresa2/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.log
workspaceEmpresa2/projeto-empresav2/.metadata/**
workspaceEmpresa2/projeto-empresav2/.settings/**
/workspaceEmpresa2/.metadata/**.log
/workspaceEmpresa2/.sonarlint/**